html {
  box-sizing: border-box;
  font: font-family: 'Merriweather', serif;
  margin:
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
color: #fff;
}

h1 {
font-size: 2rem;
background-color: #d05c2e;
}
